/* base style */

* {
  box-sizing: border-box;
}

.main {
  padding: 1rem;
}

.hidden {
  display: none;
}

/* header */

.header {
  text-align: center;
}

.header-title {
  font-size: 2rem;
  margin: 1rem;
}


/* photo list */
.photoList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}


/* photo item */
.photoItem {
  list-style: none;
  padding: 0 0.5rem;
}

.photoItem-image {
  width: 100%;
}


/* lightbox */
.lightbox {
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
  left: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.lightbox--active {
  align-items: center;
  display: flex;
  justify-content: center;
}

.lightbox-article {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.lightbox-content {
  background-color: #000;
  height: 80vh;
  position: relative;
  text-align: center;
  width: 100%;
}

.lightbox-header {
  align-items: center;
  display: flex;
  height: 10%;
  justify-content: center;
}

.lightbox-title {
  color: #fff;
  overflow : hidden;
  text-overflow: ellipsis;
  width:80%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.lightbox-image {
  height: 100%;
  margin: auto;
  width: auto;
}

.lightbox-anchor {
  color: #a9a8a8;
  font-size: 3rem;
  margin-top: -1.5rem;
  position: absolute;
  text-decoration: none;
  top:50%;
  z-index: 10;
}

.lightbox-anchor:hover{
  color: #fff;
}

.lightbox-anchor--previous {
  left: 3%;
}

.lightbox-anchor--next {
  right: 3%;
}

.lightbox-close {
  color: #fff;
  right: 0;
  margin: 1rem;
  position: absolute;
  top: 0;
}

.lightbox-body {
  overflow: scroll;
  height: 90%;
}

/* Extra Small Devices, Phones */ 
@media (min-width : 425px) {
  .photoItem {
    width: 50%;
  }
}

/* Tablets */
@media (min-width : 768px) {
  .photoItem {
    width: 25%;
  }
}

/* Medium Devices, Desktops */
@media (min-width : 1024px) {
  .photoItem {
    width: 12.5%;
  }
}
