/* base style */

* {
  box-sizing: border-box;
}

.main {
  padding: 1rem;
}

.hidden {
  display: none;
}

/* header */

.header {
  text-align: center;
}

.header-title {
  font-size: 2rem;
  margin: 1rem;
}


/* photo list */
.photoList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}


/* photo item */
.photoItem {
  list-style: none;
  padding: 0 0.5rem;
  width: 50%;
}

.photoItem-image {
  width: 100%;
}


/* lightbox */
.lightbox {
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
  left: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.lightbox--active {
  align-items: center;
  display: flex;
  justify-content: center;
}

.lightbox-article {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.lightbox-content {
  background-color: #000;
  height: 80vh;
  position: relative;
  text-align: center;
  width: 100%;
}

.lightbox-header {
  align-items: center;
  display: flex;
  height: 10%;
  justify-content: center;
}

.lightbox-title {
  color: #fff;
  overflow : hidden;
  text-overflow: ellipsis;
  width:80%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.lightbox-image {
  height: 100%;
  margin: auto;
  width: auto;
}

.lightbox-anchor {
  color: #a9a8a8;
  font-size: 3rem;
  margin-top: -1.5rem;
  position: absolute;
  text-decoration: none;
  top:50%;
  z-index: 10;
}

.lightbox-anchor:hover{
  color: #fff;
}

.lightbox-anchor--previous {
  left: 3%;
}

.lightbox-anchor--next {
  right: 3%;
}

.lightbox-close {
  color: #fff;
  right: 0;
  margin: 1rem;
  position: absolute;
  top: 0;
}

.lightbox-body {
  overflow: scroll;
  height: 90%;
}

/* Extra Small Devices, Phones */ 
@media (min-width : 425px) {
  .photoItem {
    width: 33.33%;
  }
}

/* Tablets */
@media (min-width : 768px) {
  .photoItem {
    width: 20%;
  }
}

/* Medium Devices, Desktops */
@media (min-width : 1024px) {
  .photoItem {
    width: 12.5%;
  }
}

/* loading indicator, source from http://tobiasahlin.com/spinkit/ */
.sk-folding-cube {
  display: none;
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.loading-indicator--active {
  display: block;
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
}
